build*/
*.swp
*~
.exrc
autom4te.cache/
m4/
configure
config.rpath
COPYING
INSTALL
Makefile.in
aclocal.m4
install-sh
missing
compile
depcomp
ltmain.sh
config.guess
config.sub
ABOUT-NLS
tap-driver.sh
test-driver
