#include <windows.h>
#include <winver.h>
#include "config.h"
#include "credhelper_const.h"

#define FILE_VER_0 VERSION_MAJOR,VERSION_MINOR,VERSION_REVISION,0
#define PRODUCT_VER_0 VERSION_MAJOR,VERSION_MINOR,VERSION_REVISION,0



#pragma code_page(65001)

VS_VERSION_INFO  VERSIONINFO
    FILEVERSION FILE_VER_0  
    PRODUCTVERSION PRODUCT_VER_0  
    FILEFLAGSMASK 0
    FILEOS VOS_NT 
    FILETYPE VFT_APP
    FILESUBTYPE 0
    BEGIN
        BLOCK "StringFileInfo" 
        BEGIN
            BLOCK "040904B0" 
            BEGIN
              VALUE "CompanyName", COMPANY_NAME_W 
              VALUE "FileVersion", VERSION_W
              VALUE "FileDescription", CREDHELPER_APP_FILE_DESC_W
              VALUE "InternalName", CREDHELPER_APP_FILE_NAME_W
              VALUE "OriginalFilename",CREDHELPER_APP_FILE_NAME_W
              VALUE "ProductName", CREDHELPER_APP_PRODUCT_NAME_W
              VALUE "ProductVersion", VERSION_W
            END 
        END
        BLOCK "VarFileInfo"
        BEGIN
            VALUE "Translation",
            0x409, 1200
        END
    END

/* vi: se ts=4 sw=4 et: */
