*.swp

service-id.txt
service-secret.txt
service-url-client-device.txt
service-url-secret-device.txt
service-url-device-user-code-param.txt
service-url-lmd-oauth-token-param.txt
service-url-secret-lmd.txt
service-url-client-lmd.txt
service-url-client-web.txt

url-id.txt
url-service.txt
url-service-lmd.txt
url-token-query-url.txt
url-service-web.txt
